<!DOCTYPE html ">
<html xmlns="http://www.coveychat.com">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>Alpha Blog</title>

	<link rel="stylesheet" href="css/test_app" type="text/css" />
</head>
<body>
	<div id="bg">
		<div class="wrap">

			<!-- logo -->
			<h1><a href="#">Test App</a></h1>
			<!-- /logo -->

			<!-- menu -->
			<div id="mainmenu">
				<ul id="menu">
					<li><a class="Home" href="home">Home</a></li>
					<li><a href="about">About Us</a></li>
					<li><a >Contact Us</a></li>
				</ul>
			</div>

			<div id="pitch">
				<div id="slideshow">

					<!-- 1st frame -->
					<div class="active">
						<div class="overlay transparent">
							<h2>Home Page </h2>
							<p>Test Blog/Ruby class Homework </p>
						</div>
					</div>
			</div>


			</div>

		</div>

	</div>
</body>

</html>